@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
}

input:focus {
  outline: none;
  border-color: #e11d48;
}